.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./images/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}